
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467874132'); /* IE9*/
  src: url('iconfont.eot?t=1467874132#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467874132') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467874132') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467874132#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:26px;
  color: #97d83b;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gerenzhongxin:before { content: "\e600"; }
.icon-tixing:before { content: "\e620"; }
.icon-tongxunlu:before { content: "\e627"; }
.icon-zhuye:before { content: "\e648"; }
.icon-xiangmu:before { content: "\e61b"; }
.icon-crmtubiao69:before { content: "\e85b"; }
.icon-wode:before { content: "\e706"; }
.icon-bargraph:before { content: "\e611"; }

.on01 .iconfont{
  color: #3a3b50;
}

.on01 .nav-text01{
  color: #3a3b50;
}